ul, header, body{
    padding: 0;
    margin: 0;
}

body{
    background: url("../images/colorful_dots_on_black.jpg") repeat;
    font-family: Calibri;
}

body > header {
    width: 100%;
    text-align: center;
    color: yellow;
    font-weight: bold;
    font-size: 2em;
    height: 50px;
    background: linear-gradient( to right, red, red 33.3%, green 33.3%, green 67.7%, blue 67.7%);
    margin-bottom: 50px;
}

aside {
    float: left;
    margin-left: 15px;
    width: 15%;
}

aside nav{
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
}

aside nav header {
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
}

aside nav ul {
    margin-left: 10px;
}

aside nav ul li {
    list-style-position: inside;
    list-style-image: url("../images/bullet.png");
    padding: 4px 3px 4px 3px;
    border-radius: 5px;
}

aside nav ul li a{
    text-decoration: none;
    color: black;
}

aside nav ul a:visited{
    color: grey;
}

/* articles */

section{
    float:  right;
    width: 80%;
    margin-left: 50px;
    margin-right: 30px;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
article div:first-letter{
    font-size: 3em;
    font-style: italic;
}
article header {
    font-size: 1.7em;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#webColors{
    color: #fff;
    background-color: red;
}

#webSafeColors{
    color: black;
    background-color: orange;
}

#RGB{
    color: black;
    background-color: yellow;
}

#RGBA{
    color: black;
    background-color: green;
}

#\#HSLHSV{
    color: #ffffff;
    background-color: blue;
}

#\#lorem{
    color: #ffffff;
    background-color: purple;
}

span:lang(la) {
    color: purple;
}

aside nav ul li:nth-child(1):hover {
    background-color: red;
}

aside nav ul li:nth-child(2):hover {
    background-color: orange;
}

aside nav ul li:nth-child(3):hover {
    background-color: yellow;
}

aside nav ul li:nth-child(4):hover {
    background-color: green;
}

aside nav ul li:nth-child(5):hover {
    background-color: blue;
}

aside nav ul li:nth-child(6):hover {
    background-color: purple;
}