$wrapper-background-color: white;
$border-color: #bebebe;
$text-color: #7c7d7f;

@mixin vertical-gradient($first-color, $last-color) {
  background: $first-color; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NmE3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTk2YTcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, $first-color 0%, $first-color 0%, $last-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $first-color), color-stop(0%, $first-color), color-stop(100%, $last-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $first-color 0%, $first-color 0%, $last-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $first-color 0%, $first-color 0%, $last-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $first-color 0%, $first-color 0%, $last-color 100%); /* IE10+ */
  background: linear-gradient(to bottom, $first-color 0%, $first-color 0%, $last-color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first-color', endColorstr='$last-color', GradientType=0); /* IE6-8 */
}

@mixin horizontal-gradient($first-color, $last-color) {
  background: $first-color; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NmE3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTk2YTcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTglIiBzdG9wLWNvbG9yPSIjY2VkY2U3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, $first-color 0%, $first-color 0%, $last-color 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $first-color), color-stop(0%, $first-color), color-stop(98%, $last-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $first-color 0%, $first-color 0%, $last-color 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $first-color 0%, $first-color 0%, $last-color 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $first-color 0%, $first-color 0%, $last-color 98%); /* IE10+ */
  background: linear-gradient(to right, $first-color 0%, $first-color 0%, $last-color 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first-color', endColorstr='$last-color', GradientType=1); /* IE6-8 */
}

@mixin diagonal-gradient($first-color, $last-color) {
  background: $first-color; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNTk2YTcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNjZWRjZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(-45deg, $first-color 0%, $first-color 0%, $last-color 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $first-color), color-stop(0%, $first-color), color-stop(98%, $last-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, $first-color 0%, $first-color 0%, $last-color 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, $first-color 0%, $first-color 0%, $last-color 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, $first-color 0%, $first-color 0%, $last-color 98%); /* IE10+ */
  background: linear-gradient(135deg, $first-color 0%, $first-color 0%, $last-color 98%); /* W3C */

}

@mixin radial-gradient($first-color, $last-color) {
  background: $first-color; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NmE3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover, $first-color 0%, $first-color 0%, $last-color 98%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $first-color), color-stop(0%, $first-color), color-stop(98%, $last-color)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, $first-color 0%, $first-color 0%, $last-color 98%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, $first-color 0%, $first-color 0%, $last-color 98%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, $first-color 0%, $first-color 0%, $last-color 98%); /* IE10+ */
  background: radial-gradient(ellipse at center, $first-color 0%, $first-color 0%, $last-color 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first-color', endColorstr='$last-color', GradientType=1); /* IE6-8 fallback on horizontal gradient */

}

body {
  @include vertical-gradient(#818181, #fff);
  background-repeat: no-repeat;
  font-size: 15px;
  color: $text-color;
}

#wrapper {
  background-color: $wrapper-background-color;
  border: 2px solid $border-color;
  width: 960px;
  margin: 0 auto;

  & > header {
    margin: 10px;
    border: 2px solid $border-color;

    & > h1 {
      font-size: 2.2rem;
      text-align: center;
    }

    ul{
      list-style: none;
      text-align: center;
      li{
        display: inline-block;
        a{
          text-decoration: none;
          font-size: 1.2rem;
          color: $text-color;
          padding: 7px 14px 7px 17px;
          border:2px solid $border-color;
        }

        a:hover{
          @include vertical-gradient(#818181, #fff);
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }

  section {
    border: 2px solid $border-color;
    margin: 10px;

    & > header h1 {
      text-decoration: underline;
      font-size: 1.2rem;
      font-weight: normal;
      text-align: center;
    }

    article {
      margin: 10px;
      border: 1px solid $border-color;

      h2 {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}

.linear article:nth-child(2) {
  .purple {
    @include vertical-gradient(#330433, #eeffff);
  }

  .blue {
    @include vertical-gradient(#0909b2, #eeffff)
  }

  .green {
    @include vertical-gradient(#043304, #eeffff)
  }

  .yellow {
    @include vertical-gradient(#f5f503, #eeffff)
  }
  .orange {
    @include vertical-gradient(#ec9303, #eeffff)
  }
  .red {
    @include vertical-gradient(red, #eeffff)
  }
}

.linear article:nth-child(3) {
  .purple {
    @include horizontal-gradient(#330433, #eeffff);
  }

  .blue {
    @include horizontal-gradient(#0909b2, #eeffff)
  }

  .green {
    @include horizontal-gradient(#043304, #eeffff)
  }

  .yellow {
    @include horizontal-gradient(#f5f503, #eeffff)
  }
  .orange {
    @include horizontal-gradient(#ec9303, #eeffff)
  }
  .red {
    @include horizontal-gradient(red, #eeffff)
  }
}

.linear article:nth-child(4) {
  .purple {
    @include diagonal-gradient(#330433, #eeffff);
  }

  .blue {
    @include diagonal-gradient(#0909b2, #eeffff)
  }

  .green {
    @include diagonal-gradient(#043304, #eeffff)
  }

  .yellow {
    @include diagonal-gradient(#f5f503, #eeffff)
  }
  .orange {
    @include diagonal-gradient(#ec9303, #eeffff)
  }
  .red {
    @include diagonal-gradient(red, #eeffff)
  }
}

.radial {
  .purple {
    @include radial-gradient(#330433, #eeffff);
  }

  .blue {
    @include radial-gradient(#0909b2, #eeffff)
  }

  .green {
    @include radial-gradient(#043304, #eeffff)
  }

  .yellow {
    @include radial-gradient(#f5f503, #eeffff)
  }
  .orange {
    @include radial-gradient(#ec9303, #eeffff)
  }
  .red {
    @include radial-gradient(red, #eeffff)
  }
}

.innerContainer {
  div {
    display: inline-block;
    width: 16%;
    height: 100px;
    border-radius: 7px;
  }
  padding: 10px;
}

footer {
  text-align: center;

  ul {
    list-style: none;
    li a {
      text-decoration: none;
      color: $text-color;
    }

  }

  h3{
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: normal;
  }
}