@model Twitter.Models.User

@{
    ViewBag.Title = Model.UserName +" Page";
}
<div class="row">
    <div class="col-md-2">
        <div class="row">
            <p> <img/>
            </p>
            <b>@Model.UserName</b>
        </div>
    </div>
    <div class="col-md-10">
     
    </div>
</div>
