@model SportSystem.Web.ViewModels.PlayerViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <h3>@Model.Name</h3>
        <p>Born : @Model.BirthDate</p>
        <p>Height : @Model.Height</p>
    </div>
</div>