USE [master]
GO
/****** Object:  Database [School]    Script Date: 7.2.2015 г. 18:10:03 ч. ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\school.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'school_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\school_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  User [pro687]    Script Date: 7.2.2015 г. 18:10:03 ч. ******/
CREATE USER [pro687] FOR LOGIN [pro687] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pro687]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 7.2.2015 г. 18:10:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Classes](
	[Name] [varchar](50) NOT NULL,
	[MaxStudents] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7.2.2015 г. 18:10:03 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[Name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Math', 30)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Chemistry', 20)
INSERT [dbo].[Classes] ([Name], [MaxStudents]) VALUES (N'Computer Science', 35)
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Ivancho', 10, N'08883')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Penka', 15, N'0032123')
INSERT [dbo].[Students] ([Name], [Age], [PhoneNumber]) VALUES (N'Marii4o', 100, N'')
USE [master]
GO
